absl-py==1.0.0
blessings==1.7
blis==0.4.1
brotlipy==0.7.0
cachetools==5.0.0
catalogue==1.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
cycler==0.11.0
cymem==2.0.6
filelock==3.6.0
fonttools==4.33.2
func-timeout==4.3.5
google-auth==2.6.6
google-auth-oauthlib==0.4.6
gpustat==0.6.0
grpcio==1.44.0
huggingface-hub==0.4.0
importlib-metadata==4.11.3
jarowinkler==1.0.2
Jinja2==3.1.2
joblib==1.1.0
kiwisolver==1.4.2
langcodes==3.3.0
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
mkl-fft==1.3.1
mkl-service==2.4.0
murmurhash==1.0.7
nltk==3.7
numpy==1.22.3
nvidia-ml-py3==7.352.0
oauthlib==3.2.0
packaging==21.3
pandas==1.4.2
pathy==0.6.1
Pillow==8.4.0
plac==1.1.3
preshed==3.0.6
protobuf==3.20.1
psutil==5.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.8.2
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
rank-bm25==0.2.2
rapidfuzz==2.0.11
regex==2022.3.2
requests-oauthlib==1.3.1
rsa==4.8
sacremoses==0.0.47
scikit-learn==1.0.2
scipy==1.5.4
sentencepiece==0.1.96
simcse==0.4
sklearn==0.0
smart-open==5.2.1
spacy==2.2.3
spacy-legacy==3.0.9
spacy-loggers==1.0.2
sql-metadata==2.5.0
sqlparse==0.4.2
srsly==1.0.5
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
thinc==7.3.1
threadpoolctl==3.1.0
tokenizers==0.11.6
torch==1.11.0
torch-tb-profiler==0.4.0
torchaudio==0.11.0
torchvision==0.12.0
tqdm==4.63.0
transformers==4.17.0
typer==0.4.1
urllib3==1.26.8
wasabi==0.9.1
Werkzeug==2.1.1
zipp==3.8.0
